@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply cursor-pointer rounded-md border bg-[#AE2C5D] px-2 py-3 text-center text-sm text-white md:hover:bg-[#AE2C5D];
  }
}

.overflow-hidden {
  overflow-x: hidden;
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.pop-animation {
  animation: pop 1.5s ease-in-out infinite;
}
